<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/books.css}">
	<link rel="icon" type="image/x-icon" href="/images/h-icon.png">
	<title>Action Books</title>
	<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>

<body class="actionbody" style="align-items: center;">

	<nav class="navbar">
		<a href="/"><img src="/images/eureka_logo.png" class="image"></a>
		<ul>
			<li><a href="profile">My Profile</a></li>
			<li><a href="availablebooks">Available books</a></li>
			<li><a href="mybooks">My Books</a></li>

		</ul>
	</nav>
	<h1 class="container text-center text-white">ACTION BOOKS</h1>
	<th:block th:if="${session.msg}">
				<p class="text-center fs-1 mt-1 text-danger">[[${session.msg}]]</p>
				<div th:text="${@serviceHelper.removeMessageFromSession()}"></div>
			</th:block>
	<div class="books-container">
		<!-- Loop through the list of books and display each book in a card -->
		<div th:each="book : ${actionbook}" class="book-card">
			<img alt="" th:src="*{'data:image/jpeg;base64,'+{book.image}}"
				style="width: 200px;height: 200px; padding-bottom: 10px;">
			<h4 style="padding-bottom: 10px;" th:text="${book.name}">Book Title</h4>
			<p style="display: inline;"><b>Author:</b></p>
			<p style="display: inline;" th:text="${book.author}">Author</p>
			<div style="padding-bottom: 10px;">
				<p style="display: inline;">&#8377</p>
				<p style="display: inline; font-size: larger;" th:text="${book.price} ">Price</p>
			</div>
			<th:block th:if="${session.msg}">
				<p class="text-center fs-7 mt-1 text-danger">[[${session.msg}]]</p>
				<div th:text="${@serviceHelper.removeMessageFromSession()}"></div>
			</th:block>
			<a style="display: inline;" id="link" th:href="@{/user/myactionList/{id}(id=${book.id})}"
				class="btn btn-success mt-4 p-1 mx-auto addToCartLink">Add to Cart</a>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script>
		function increaseCount(a, b) {
			var input = b.previousElementSibling;
			var value = parseInt(input.value, 10);
			value = isNaN(value) ? 0 : value;
			value++;
			input.value = value;
		}


		function decreaseCount(a, b) {
			var input = b.nextElementSibling;
			var value = parseInt(input.value, 10);
			if (value > 1) {
				value = isNaN(value) ? 0 : value;
				value--;
				input.value = value;
			}
		}
	</script>

	<!--<script>
	const quantityInput = document.getElementById('quantityInput');
	document.addEventListener('DOMContentLoaded', function() {
    const quantityInput = document.getElementById('quantityInput');
    const addToCartLinks = document.querySelectorAll('[id^="addToCartLink-"]');
    
    addToCartLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            
            const bookId = link.id.split('-')[1]; // Extract book ID from link's ID
            const quantity = quantityInput.value;
            console.log(quantity);
            const newHref = `/user/myactionList/${bookId}?quantity=${quantity}`;
            /*const newHref=link.getAttribute('th:href').replace('0',1);*/

            link.setAttribute('href', newHref);
            
            // Uncomment the next line to trigger the link after updating the href
            link.click();
        });
    });
});
</script>-->


</body>

</html>