<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/books.css}">
	<link rel="icon" type="image/x-icon" href="/images/shopping-cart.png">
	<title>My Books</title>
	<script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</head>

<body class="mybookbody">

	<nav class="navbar">
		<a href="/"><img src="/images/eureka_logo.png" class="image"></a>
		<ul>
			<li><a href="profile">My Profile</a></li>
			<li><a href="availablebooks">Available books</a></li>
			<li><a href="mybooks">My Books</a></li>

		</ul>
	</nav>
	<h1 class="container text-center text-white">My Books</h1>
	<!--		<div class="container my-5 col-md-6">
		<table class="table table-striped table-hover">
			<thead style="background-color: white;">
				<tr>
					<th scope="col">S.No</th>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
					<th scope="col">Price(Rs)</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr style="color: white;" th:each="b,iter : ${cart}">
					<td th:text="${iter.index+1}"></td>
					<td th:text="${b.name}"></td>
					<td th:text="${b.author}"></td>
					<td th:text="${b.price}"></td>
					<td><a class="btn btn-secondary btn-sm" th:href="@{/user/deleteBook/{id}(id=${b.id})}">Remove Book</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>-->


	<table style="
		border-collapse: collapse;
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;">
		<tr style="color: white;border-top: 1pt solid white;border-bottom: 1pt solid white;padding-bottom: 30px;"
			th:each="product : ${cart}">

			<td style="text-align: center;word-break: break-all;padding-bottom: 10px;padding-top: 10px;"><img alt=""
					th:src="*{'data:image/jpeg;base64,'+{product.allBook.image}}" style="width: 200px;height: 200px;">
			</td>
			<td style="text-align: center;">[[*{product.allBook.name}]] </td>
			<td style="text-align: center;">
				<p style="display:inline-block ;">&#8377</p>[[*{product.allBook.price}]]
			</td>
			<td style="text-align: center;">
				<a  style="height: 3px; width: 3px;" th:href ="@{/user/decrementQuantity/{id}(id=${product.id})}" class="btn btn-light d-inline">-</a>
				<div class="d-inline mx-2">[[${product.quantity}]]</div>
    		<a th:href="@{/user/incrementQuantity/{id}(id=${product.id})}" class="btn btn-light d-inline">+</a>
			</td>
			<td style="text-align: center;"><a th:href="@{/user/deleteBook/{id}(id=${product.id})}"
					class="btn btn-secondary">Remove</a></td>
		</tr>
	</table>
	<div style="text-align: center;" th:if="${recordsPresent}">
		<h1 class="text-danger">Sorry!No Books are added to the Cart</h1>
	</div>
	<div style="text-align: center;" th:unless="${recordsPresent}">
		<div style="text-align: center;padding-top: 40px;"><button type="submit"
				class="btn btn-success col-md-13-f4">Place Order</button></div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>

</body>

</html>