#categ{
	height: 500px;
	width: 230px;
}

.divcat{
	height:70%;
	width: 10%;
	margin-left: 130px;
	margin-bottom: 100px;
	float: left;
	
}
.homebody {
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bookstore.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.actionbody{
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bgimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.romancebody{
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bgimage1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.fictionbody{
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bgimage2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.mybookbody{
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bgimage3.jpg);
	background-size: cover;
}
.navbar{
	width: 100%;
	margin:auto;
	display: flex;
	align-items:center;
	justify-content: space-between;
	background-color:none;
	padding-left:50px;
	padding-right:50px;
}

.navbar ul li{
	list-style:none;
	display: inline-block;
	margin:0 20px;
	position: relative;
	padding-top: 5px;
	
}
.navbar ul li a {
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
}

.navbar ul li button {
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	background-color: inherit;
	
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
  overflow: hidden;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar ul li:hover .dropdown-content {
    display: block;
}
.navbar ul li:hover::after {
    width: 100%;
}

.drop{
	font-weight: none;
	font-size: small;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: white;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}
.im{
	width: 20px;
	height: 20px;
	margin-left: 20px;
	filter: invert(100%);
	
}
.image{
	width: 70px;
	cursor: pointer;
	float:center;
}
.navbar ul li:hover::after{
	
	width: 100%;
	
}
.info{
	color:white;
	font-size: medium;
}
.books-container {
  display: flex;
    flex-wrap: wrap;
    /*align-items: center;
    justify-content: center;*/
    padding-left: 125px;
}
.book-card {
	width: 400px;
	height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    border-radius: 25px;

}
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    text-align: center;
    background: white;
    color: black;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color:white;
    user-select: none;
}

	.counter1 {
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.counter1 input {
    width: 50px;
    border: 0;
    line-height: 30px;
    text-align: center;
    background: black;
    color: white;
    appearance: none;
    outline: 0;
}
.counter1 span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color:black;
    user-select: none;

}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

button.delete,
  button.edit,
  button.change {
    background-color: #0056b3;
  }
.container {
  background-color:none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
  width: 500px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: white;
}

.form {
  padding: -100px -200px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  align-items: center;
  display:inline-flex;
  background-color:transparent;
  border-color: transparent;
}

.form-control label {
  color: white;
  display: inline-block;
   text-align: left;
        width: 150px;
  margin-bottom: 5px;
  background-color: none;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 50%;
  padding: 5px;
  font-size: 14px;
  background-color: white;
}

.selectt{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 50%;
  float: right;
  padding: 5px;
  
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  text-align: right;
  display: flex;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;

  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
  width: 20%;
  margin: auto;
}
