@import url('https://fonts.googleapis.com/css?family=Open+Sans&dispay=swap');

:root {
  --success-color: #23cc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

.registerbody {
	background-image: linear-gradient(rgba(27, 27, 27, 0.75), rgba(27, 27, 27, 0.75)), url(/images/bgimage5.jpg);
	/*background-repeat: no-repeat;
	background-size: cover;*/
}

.navbar{
	width: 100%;
	margin:auto;
	display: flex;
	align-items:center;
	justify-content: space-between;
	background-color:none;
	padding-left:50px;
	padding-right:50px;
}

.navbar ul li{
	list-style:none;
	display: inline-block;
	margin:0 20px;
	position: relative;
	padding-top: 5px;
	
}
.navbar ul li a {
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
}

.navbar ul li button {
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	background-color: inherit;
	
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
  overflow: hidden;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar ul li:hover .dropdown-content {
    display: block;
}
.navbar ul li:hover::after {
    width: 100%;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: white;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}

.im{
	width: 20px;
	height: 20px;
	margin-left: 20px;
	filter: invert(100%);
	
}
.image{
	width: 70px;
	cursor: pointer;
	float:center;
}
.navbar ul li:hover::after{
	
	width: 100%;
	
}
.info{
	color:white;
	font-size: medium;
}
.container{
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
	
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

button.delete,
  button.edit,
  button.change {
    background-color: #0056b3;
  }
  

.form-control1 {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  align-items: center;
  display:inline-flex;
  background-color:transparent;
  border-color: transparent;
} 
.form-control1 label {
  color: white;
  display: inline-block;
   text-align: left;
   width: 300px;
  margin-bottom: 5px;
  background-color: none;
}
.form-control1 input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 150%;
  padding: 5px;
  font-size: 14px;
  background-color: white;
}
.form-control1 input:focus {
  outline: 0;
  border-color: #777;
}

.form-control1.success input {
  border-color: var(--success-color);
}

.form-control1.error input {
  border-color: var(--error-color);
}

.form-control1 small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  text-align: right;
  display: flex;
}

.form-control1.error small {
  visibility: visible;
}